@import "./_common/_common"

body
    font-family: deviceFont
    min-width: 1024px
    
main
    width: 100%
    height: 1500px

section
    width: 1024px
    margin: 0 auto

#cvsWrap
    position fixed
    z-index -1
    width 100vw
    height 100vh

#cvs
    background #7c7c7c
    display block

#top
    width: 100%
    height: 800px
    // background-color: pink
    position: relative

    p
        text-align: center
        display: block
        width: 100px
        height: 50px
        position: absolute
        margin: auto
        top: 0
        left: 0
        bottom: 0
        right: 0
        font-size: 2em

#intro
    // height: 400px

    article
        margin: 128px 0

        h1
            font-size: 2em
            color: #6471ff
    
        p
            margin-top: 40px